/*
.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
    text-align: left
}
.dropdown{

    border: 0;
    padding: 1em;
    max-width: 500px;
    min-width: 500px;
    width: 500px !important;
    margin-bottom: 2em;
}
.color-dark {
    background: #2885C4;
}
.color-light {
    background: #57B3F1;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 95%;
    margin-bottom: 2em;
    border-radius:10px;
}
select.dropdown{
    border-radius:10px;
    width: 100px;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:#A5F883;
    color:#003A61;
    margin-bottom:1em;
    cursor:pointer;
}
td.rw {
    width: 450px;
}
.life-container {
    background:#3FA0E1;
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
}

#gauge-chart-angular{
    position: absolute;
    left: 800px;
    top: 200px;

}*/

em {float:right; color:#E05C65; padding-left: 10px;}
.error input {background-color:#E3C3C5;}
.error ::-webkit-input-placeholder { color: #999; }
.error ::-moz-placeholder { color: #999; }
.error :-moz-placeholder { color:#999; }
.error :ms-input-placeholder { color: #999; }

/*.form-group{
    padding-top: 200px;
}

.gauge-chart{
    //margin-top: -578px;
display: block; margin: auto
}
*/
.top-buffer { margin-top:15px; }

/*
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
*/
