<section class="col-lg-9">
    <form [formGroup]="employeeForm" (ngSubmit)="checkAttrition()">
      <div class="color-dark">
        <div class="col">
          <p>Edit to check new attrition risk:</p>
        </div>
      </div>
      <div class="color-light">
        <div>
        <div class="form-group row" >
        <div class="col-lg-3 top-buffer">
            <label for="EmployeeNumber">Employee Number: </label>
            <em *ngIf="employeeForm.controls['EmployeeNumber'].invalid && employeeForm.controls['EmployeeNumber'].touched">Required</em>
              <input type="text" formControlName="EmployeeNumber" class="form-control" placeholder="Enter value.." [(ngModel)]="emp.EmployeeNumber"
                required [readOnly]="isEmployeeNumber"/>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Employee Name: </label>
            <em *ngIf="employeeForm.controls['EmployeeName'].invalid && employeeForm.controls['EmployeeName'].touched">Required</em>
            <input type="text" formControlName="EmployeeName" id="EmployeeName" class="form-control" [(ngModel)]="emp.EmployeeName" required [readOnly]="isEmployeeName">
        </div>
        <div class="col-lg-3 top-buffer">
            <label for="Age">Age: </label>
            <em *ngIf="employeeForm.controls['Age'].invalid && employeeForm.controls['Age'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="Age" id="Age" [(ngModel)]="emp.Age" required [readOnly]="isAge">
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Business Travel:</label>
            <select class="form-control" formControlName="BusinessTravel" [(ngModel)]="emp.BusinessTravel" required>
              <option value="-1" disabled selected>Please Select: </option>
              <option value="0">Travel Rarely</option>
              <option value="1">Travel Frequently</option>
              <option value="2">Non-Travel</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Department: </label>
            <select class="form-control" formControlName="Department" [(ngModel)]="emp.Department" required>
              <option value="-1" disabled selected>Please Select Department</option>
              <option value="0">Sales</option>
              <option value="1">Research & Development</option>
              <option value="2">Human Resources</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label for="DistanceFromHome">Distance From Home: </label>
            <em *ngIf="employeeForm.controls['DistanceFromHome'].invalid && employeeForm.controls['DistanceFromHome'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="DistanceFromHome" id="DistanceFromHome" [(ngModel)]="emp.DistanceFromHome"
              required [readOnly]="isDistanceFromHome">
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Environment Satisfaction: </label>
            <select class="form-control" formControlName="EnvironmentSatisfaction" [(ngModel)]="emp.EnvironmentSatisfaction"
              required>
              <option value="-1" disabled selected>Please Select: </option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
              <option value="4">Very High</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Gender: </label>
            <select class="form-control" formControlName="Gender" [(ngModel)]="emp.Gender" required [disabled]="isGender">
              <option value="-1" disabled selected>Please Select Gender</option>
              <option value="0">Female</option>
              <option value="1">Male</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Job Involvement: </label>
            <select class="form-control" formControlName="JobInvolvement" [(ngModel)]="emp.JobInvolvement" required>
              <option value="-1" disabled selected>Please Select: </option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
              <option value="4">Very High</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Job Satisfaction: </label>
            <select class="form-control" formControlName="JobSatisfaction" [(ngModel)]="emp.JobSatisfaction" required>
              <option value="-1" disabled selected>Please Select: </option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
              <option value="4">Very High</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label>Marital Status: </label>
            <select class="form-control" formControlName="MaritalStatus" [(ngModel)]="emp.MaritalStatus" required [disabled]="isMaritalStatus">
              <option value="-1" disabled selected>Please Select Marital Status</option>
              <option value="0">Single</option>
              <option value="1">Married</option>
              <option value="2">Divorced</option>
            </select>
        </div>
        <div class="col-lg-3 top-buffer">
            <label for="MonthlyIncome">Monthly Income: </label>
            <em *ngIf="employeeForm.controls['MonthlyIncome'].invalid && employeeForm.controls['MonthlyIncome'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="MonthlyIncome" id="MonthlyIncome" [(ngModel)]="emp.MonthlyIncome"
              required>
          </div>
          <div class="col-lg-3 top-buffer">
            <label for="NumCompaniesWorked">Number of Companies Worked: </label>
            <em *ngIf="employeeForm.controls['NumCompaniesWorked'].invalid && employeeForm.controls['NumCompaniesWorked'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="NumCompaniesWorked" id="NumCompaniesWorked"
              [(ngModel)]="emp.NumCompaniesWorked" required [readOnly]="isNumCompaniesWorked">
          </div>
          <div class="col-lg-3 top-buffer">
            <label>OverTime: </label>
            <select class="form-control" formControlName="OverTime" [(ngModel)]="emp.OverTime" required>
              <option value="-1" disabled selected>Please Select OverTime</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>


          <div class="col-lg-3 top-buffer">
            <label for="PercentSalaryHike">Percent Salary Hike: </label>
            <em *ngIf="employeeForm.controls['PercentSalaryHike'].invalid && employeeForm.controls['PercentSalaryHike'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="PercentSalaryHike" id="PercentSalaryHike" [(ngModel)]="emp.PercentSalaryHike"
              required>
          </div>

          <div class="col-lg-3 top-buffer">
            <label for="TrainingTimesLastYear">Training Taken Last Year: </label>
            <em *ngIf="employeeForm.controls['TrainingTimesLastYear'].invalid && employeeForm.controls['TrainingTimesLastYear'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="TrainingTimesLastYear" id="TrainingTimesLastYear" [(ngModel)]="emp.TrainingTimesLastYear"
              required>
          </div>

          <div class="col-lg-3 top-buffer">
            <label>Work Life Balance: </label>
            <select class="form-control" formControlName="WorkLifeBalance" id="WorkLifeBalance" [(ngModel)]="emp.WorkLifeBalance"
              required>
              <option value="-1" disabled selected>Please Select: </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-lg-3 top-buffer">
            <label for="YearsInCurrentRole">Years In Current Role: </label>
            <em *ngIf="employeeForm.controls['YearsInCurrentRole'].invalid && employeeForm.controls['YearsInCurrentRole'].touched">You must enter a numeric value</em>
            <input type="text" class="form-control" formControlName="YearsInCurrentRole" id="YearsInCurrentRole" [(ngModel)]="emp.YearsInCurrentRole" [readOnly]="isYearsInCurrentRole"
              required>
          </div>
        </div>
      </div>
      </div>
      <div class="form-group row" >
            <div class="col-lg-3 top-buffer">
            <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-success">Check Attrition</button>
            <button type="button" *ngIf="emprecordService.predicitonarray" class = "btn btn-info" [routerLink]="['/employee-list']">Back</button>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3 top-buffer">
                <button type="button" *ngIf="emprecordService.predicitonarray" class = "btn btn-warning" style="float: right" (click)="reset()">Reset</button>
                <button type="reset" class = "btn btn-danger" style="float: right" (click)="clear()">Clear All</button>
            </div>
      </div>
      </form>

    </section>
    <section class="col-lg-3">
    <div class="col-lg-12" style="color: honeydew">
            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel" [options]="options"
              [name]="name" [bottomLabel]="bottomLabel" style="float:inherit">
            </rg-gauge-chart>

            <!--<div style="padding-left:170px;color: #000;font-weight: bold;">{{ data.AttritionValue*100 | number }} %</div>-->
          </div>
          <div class="col-lg-12 top-buffer" *ngIf="reasons!=undefined && reasons.length>1" >
                <table class="table table-striped table-hover top-buffer">
                    <tr>
                      <th>
                        Factors for Attrition
                      </th>
                    </tr>
                    <tr *ngFor="let reason of reasons" class="active">
                        <td>
                          {{reason}}
                        </td>
                      </tr>
                  </table>
                </div>
        </section>
