<div class = "container color-dark">

  </div>
  <div>
      <div class ="col">
        <form>

          <!--<input type="text" class = "txt" name = "item" placeholder="Enter value" [(ngModel)]="goalText">

          <br>
          <span>{{goalText}}</span>-->

        </form>
      </div>
      <div>


      <table class="table table-striped table-hover">
      <tr>
            <th>Employee Id</th>
           <th>Employee Name</th>
            <th>Attrition Risk</th>
            <th>Alter Data</th>
        </tr>


              <tr class="active" *ngFor="let goal of emprecordService.predicitonarray">
                  <td>{{goal.EmployeeNumber}}</td>
                  <td>{{goal.EmployeeName}}</td>
                  <td>{{goal.AttritionValue*100 | number}}</td>
                  <td><button type="submit" class = "btn btn-success" [routerLink]="['/dashboard']" (click)="showEdit(goal)">Edit</button></td>
              </tr>

          </table>

    </div>
    </div>
