<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class ="container-fluid">
<div class="navbar-brand">Employee Attrition Predictor</div>

  <div class ="collapse navbar-collapse">
    <div class="navbar-form navbar-right">
      <div class="input-group">
          <label class="input-group-btn">
              <span class="btn btn-default" >
                  Browse&hellip; <input type="file" style="display: none;" #fileinput (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
              </span>
          </label>
          <input type="text" #fileinputdummy  class="form-control" readonly placeholder="Upload file">
      </div>


      <button type="button" class="btn btn-default" [routerLink]="['/employee-list']" (click)="clear()">Upload</button>
      <a href='assets/feedback-template.xlsx' class="btn btn-default">Template</a>
    </div>
  </div>
</div>
</nav>

<div container>
<router-outlet></router-outlet>
</div>
